@charset "UTF-8";
.kiwi-maru-regular {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
  }  
body {
    font-family: "Kiwi Maru",serif;
    width: auto;
    margin: 3rem 1rem;
    background-color: #f4fffa;
    padding: 0 20px 20px 20px;
    border: solid;
    border-width:0;
  }
h1{
    color:rgb(47, 56, 56);
    font-family: "Kiwi Maru",serif;
}
h2{
    color:rgb(47, 56, 56);
    font-family: "Kiwi Maru",serif;
}
p{
    color:rgb(19, 27, 19);
    font-size:20px;
}
ul{
    list-style-type: none;
    margin: none;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 60%;
    height: auto;
    border-radius: none;
}
.web_title{
    top: 0%;
    left: auto;
    margin:30px 30px 30px 30px;
    font-size:3rem;
    color:#04211a;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)
}
.page_title{
    font-size:2rem;
    margin:30px 30px 30px 30px;
    color:rgb(16, 22, 22);
}
.reload {
    cursor: pointer;
}
.main_color{
    color:aquamarine
}
.sub_color{
    color:cadetblue
}
.menu_toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #1bb48e;
    color: aquamarine;
    border: none;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    font-size:2rem;
    transition: transform 0.25s ease, background-color 0.25s ease;
  }
.menu_toggle:hover {
    transform: scale(1.1);
    background-color: #179d7d;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10%;;
    background-color:rgb(42, 220, 163);
    display: flex;
    justify-content: start;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1;
}
.sidebar.show{
    transform:translateX(0);
}
.sidebar_content {
    position: absolute;
    left: 0.4rem;
    bottom: 2rem;
    width: fit-content;
    margin: auto;
    user-select: none;
}
.sidebar_menu {
    font-size: 1.05rem;
}
.menu_item{
    margin-top: 0.8rem;
}
.galary_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.galary_gap{
    gap: 20px;
    border-bottom: 1px solid rgba(136, 136, 136, 0.3);
    border: 3px solid #ccc;
    padding-top: 20px;
}
.work_title{
    font-size:1.4rem;
}
.work_img{
    border: 3px solid #38f955;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
    .web_title{
        top: 0%;
        left: auto;
        margin:5px 30px 30px 30px;
        font-size:2rem;
    }
    .menu_toggle {
      width: 45px;
      height: 45px;
      font-size: 1.6rem;
      top: 10px;
      left: 10px;
    }
  
    .sidebar {
      width: 70%;
    }
  }