<nav class="sidebar">
    <div class="sidebar_content">
        <ul class="sidebar_menu">
            <li class="menu_item">
                <a href="{{ '/' | relative_url }}">Home</a>
            </li>
            <li class="menu_item">
                <a href="{{ '/about' | relative_url }}">About</a>
            </li>
            <li class="menu_item">
                <a href="{{ '/diary' | relative_url }}">Diary</a>
            </li>
            <li class="menu_item">
                <a href="{{ '/gallery' | relative_url }}">Gallery</a>
            </li>
            <li class="menu_item">
                <a href="{{ '/disco' | relative_url }}">Discography</a>
            </li>
            <li class="menu_item">
                <a href="{{ '/info' | relative_url }}">Information</a>
            </li>
        </ul>
    </div>
</nav>